BODY
{
	FONT-FAMILY: VERDANA,ARIAL;
	FONT-SIZE: 11pt;
}

.LIST
{
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -15px;
}

.PARENT-SHOWN
{	
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -15px;
}

IMG
{
	
}

.PARENT-HIDDEN
{	
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -15px;
}

.KID
{	
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -10px;
}

#TOP
{
	FONT-WEIGHT: BOLD;
}

.TOPLIST
{
	MARGIN-LEFT: 5px;
	TEXT-INDENT: -5px;
}

UL
{
    MARGIN-TOP: 5px;
    CURSOR: default;
    LEFT: 0px;
}

A
{
    COLOR: #333333;
    TEXT-DECORATION: none
}

A:hover
{
    COLOR: #333333;
    TEXT-DECORATION: underline
}

A.CURLIST
{
	BACKGROUND-COLOR: #FFFFCC
}

.LISTIMAGE
{
    margin-left: -6; 
}

.HIDDEN
{
	DISPLAY: none;
}

.SHOWN
{
	DISPLAY: list;
	
}